@charset "utf-8";

body {
<<<<<<< HEAD
=======
    margin: 0;
>>>>>>> af451734f98090a644a4e69a58269447b7ed13b9
    width: 100vw;
}
h1 {
    margin: 110px;
    text-align: center;
    font-size: 2rem;
    color: #5cc882;
    line-height: 70px;
}
<<<<<<< HEAD
.tournament_area{
=======
.tournament_area {
>>>>>>> af451734f98090a644a4e69a58269447b7ed13b9
    width: 90%;
    margin: 0 auto;
}
.tournament_area img {
    width: 100%;
}

<<<<<<< HEAD
.higher{
=======
.higher {
>>>>>>> af451734f98090a644a4e69a58269447b7ed13b9
    margin: 0 auto 100px;
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
<<<<<<< HEAD
.higher img{
=======
.higher img {
>>>>>>> af451734f98090a644a4e69a58269447b7ed13b9
    width: 100%;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.5rem;
    color: #da464f;
}

.tournament_result {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.tournament_result p {
    text-align: center;
    font-size: 40px;
}

<<<<<<< HEAD
.qualifyin_gresult{
=======
.qualifyin_gresult {
>>>>>>> af451734f98090a644a4e69a58269447b7ed13b9
    width: 100%;
    margin: 0 auto;
    background-color: aliceblue;
}
.qualifyin_gresult h3 {
    text-align: center;
    font-size: 1.25rem;
}
.qualifyin_gresult div {
    width: 80%;
    margin: 0 auto;
}
.interview {
    margin: 0 auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tamadora-button {
    margin: 0 auto 100px;
    width: 14%;
}
.tamadora-button:hover {
    cursor: pointer;
}
.tamadora-button p,
.tamadora-button img {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #da464f;
}
.tamadora-button a:visited {
    color: #da464f;
<<<<<<< HEAD
}
=======
}
>>>>>>> af451734f98090a644a4e69a58269447b7ed13b9
